# Ignore node_modules
node_modules

# Ignore build output
build
dist

# Ignore development files
# src/**/*.test.js
# src/**/*.spec.js
# src/**/*.stories.js

# Ignore miscellaneous files
.DS_Store
npm-debug.log
yarn-debug.log
yarn-error.log
