.add-book__search {
  padding: 0 1rem 0 1rem;
  min-width: 30rem;
  max-width: 80rem;
  margin: 0 auto 10rem auto;
}

.inquire-box {
  max-width: 120rem;
  min-width: 36rem;
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  top: -5rem;
  border-bottom-left-radius: 6.1rem;
  border-bottom-right-radius: 6.1rem;
  padding-top: 8rem;
  min-height: 2;
  font-size: 1.6rem;
}

.add-book > p {
  margin: 2rem 5rem 0;
}

.add-book__basic-info {
  display: flex;
}

.add-book__basic-info__isbn-search > * {
  display: block;
  margin: auto;
}

.add-book__basic-info__isbn-search > video {
  height: 30rem;
}
.add-book__basic-info__isbn-search > button {
  display: inline-block;
  margin: 2rem 5% 2rem 6.5rem;
  width: 22rem;
  height: 6rem;
  border: 0;
  color: #ffffff;
  border-radius: 6rem;
  background: none;
  background-color: #a4a4a4;
  cursor: pointer;
  font-size: 1.8rem;
}
.add-book__basic-info__isbn-search > select {
  width: 40rem;
  height: 4rem;
  font-size: 1.8rem;
  padding: 0 1rem;
  margin: 2rem auto;
}

.add-book__basic-info__cover {
  width: 30rem;
  margin: 0 6rem 3rem;
}
.add-book__basic-info__cover > img {
  object-fit: contain;
  width: 100%;
  margin: auto;
  display: block;
}
.add-book__basic-info__detail {
  width: 80%;
  margin: 0 5rem 0 0;
  align-items: center;
}

.add-book__basic-info__input.font-28-bold {
  word-break: break-all;
  background-color: white;
  resize: none;
}

.add-book__basic-info__input {
  border: none;
  width: 80%;
}
.add-book__basic-info__input:first-child {
  width: calc(80% + 10rem);
}

.add-book__book-info__text-key {
  display: inline-block;
  width: 6rem;
  margin-right: 3rem;
  word-break: break-all;
  word-wrap: break-word;
  text-overflow: ellipsis;
}
.add-book__book-info__text {
  margin: 1.5rem 0;
  display: block;
}

.add-book__overlined {
  display: block;
  border-top: solid #a4a4a4 0.1rem;
  padding-top: 2rem;
  margin-top: 2rem;
}
.add-book__underlined {
  display: block;
  border-bottom: solid #a4a4a4 0.1rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.add-book__extra-info {
  width: 90%;
  margin: auto;
}

.add-book__existed-books {
  background-color: white;
  width: 100%;
  height: 10rem;
  font-size: 1.4rem;
  padding-left: 1rem;
  overflow: scroll;
  display: inline-block;
  box-sizing: border-box;
}

.add-book__existed-info__text {
  margin-right: 3rem;
}
.add-book__create-form {
  padding: 2rem 0;
  width: 90%;
  display: block;
  margin: auto;
}

.add-book__select {
  display: flex;
}

.add-book__isDev-select {
  padding: 0 2rem;
  height: 4rem;
  border: 0;
  width: 25rem;
  margin-right: 3rem;
}

.add-book__category-select {
  padding: 0 2rem;
  height: 4rem;
  border: 0;
  width: 73%;
  margin-bottom: 3rem;
}

.add-book__create-form > input {
  border: 0;
  padding: 0 2rem;
  width: 95%;

  height: 4rem;
  font-size: 1.6rem;
}

.add-book__create-form__errror-Message {
  margin: 1rem auto;
  text-align: center;
}

.add-book__create-form > button {
  display: block;
  margin: 4rem auto;
  width: 15rem;
  height: 4rem;
  border: 0;
  color: #ffffff;
  border-radius: 2.4rem;
  background: none;
  background-color: #dddddd;
  cursor: pointer;
  font-size: 1.8rem;
}

.add-book__create-form > button.red {
  background-color: #e63737;
}

@media screen and (max-width: 1200px) {
  .inquire-box {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .add-book__search {
    margin-bottom: 5.5rem;
  }
  .inquire-box {
    display: block;
    top: -3rem;
    padding-top: 3rem;
  }
  .add-book > p {
    width: 90%;
    margin: 2rem auto;
  }

  .add-book__basic-info__isbn-search > video {
    width: 90%;
  }

  .add-book__basic-info__isbn-search > select {
    width: 80%;
  }

  .add-book__basic-info__isbn-search > button {
    margin: auto;
    display: block;
  }

  .add-book__basic-info__search-bar {
    display: flex;
    width: 80%;
    margin: auto;
  }

  .add-book__basic-info {
    display: block;
  }

  .add-book__basic-info__cover {
    width: 100%;
    margin: 5% 0;
  }

  .add-book__basic-info__cover > img {
    object-fit: contain;
    width: 30%;
    margin: auto;
    display: block;
  }

  .add-book__basic-info__detail {
    display: block;
    width: 90%;
    margin: 5%;
    align-items: center;
  }

  .add-book__basic-info__input {
    width: calc(100% - 10rem);
  }
  .add-book__basic-info__input.font-28-bold {
    width: 100%;
  }

  .add-book__create-form > input {
    display: block;
    margin-bottom: 1.2rem;
    width: 100%;
    box-sizing: border-box;
  }
  .add-book__create-form > select {
    width: 100%;
    margin: 0 0 1rem 0;
    display: block;
  }
}
