.modal-search-form {
  text-align: center;
  height: 64px;
  display: flex;
  border-radius: 61px;
  padding: 0 36px 0 26px;
  background-color: #f2f2f2;
}

.short {
  width: 689px;
  margin-left: auto;
  margin-right: 28px;
}

.long {
  width: 100%;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.modal-search__input {
  border: 0px;
  padding: 0 20px 0 10px;
  width: 100%;
  background-color: #f2f2f2;
  color: #a4a4a4;
  font-size: 16px;
}

.modal-search__button {
  border: 0px;
  padding: 0px;
  margin-left: auto;
  background-color: #f2f2f2;
}

.modal-search__icon {
  border: 0px;
  padding: 0px;
  margin: 0px;
  width: 28px;
  height: 28px;
}
