.modal-search-form {
  text-align: center;
  height: 6.4rem;
  display: flex;
  border-radius: 6.1rem;
  background-color: #f2f2f2;
}

.modal-search-form.short {
  width: 100%;
  margin-left: auto;
  margin-right: 2.8rem;
  padding: 0 3.6rem 0 2.6rem;
}

.modal-search-form.long {
  width: 100%;
  padding: 0 3.6rem 0 2.6rem;
}

.modal-search-form.center {
  width: 80%;
  margin: auto;
  /* min-width: 200px; */
  max-width: 790px;
  border: 1px solid #545454;
  padding: 0 3.5rem 0 3.5rem;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.modal-search__input {
  border: 0;
  padding: 0 2rem 0 1rem;
  width: 100%;
  background-color: #f2f2f2;
  color: #a4a4a4;
  font-size: 1.6rem;
}

.modal-search__button {
  all: unset;
  margin-left: auto;
  background-color: #f2f2f2;
}

.modal-search__icon {
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.8rem;
  height: 2.8rem;
}

@media screen and (max-width: 1200px) {
  .modal-search-form {
    height: 5.5rem;
  }

  .modal-search__icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  .modal-search__input {
    font-size: 1.4rem;
  }

  .modal-search-form.center {
    padding: 0 3rem 0 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .modal-search-form {
    height: 5rem;
  }

  .modal-search__icon {
    width: 1.8rem;
    height: 1.8rem;
  }

  .modal-search-form.center {
    padding: 0 2rem 0 2rem;
  }

  .modal-search__input {
	padding: 0 1rem 0 0.5rem;
  }
}
