.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 1440px;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.information-bg {
  background-image: url("../img/infomation_bg.png");
  height: 500px;
}

.main-bg {
  background-image: url("../img/main_bg.png");
  height: 938px;
}

.search-bg {
  background-image: url("../img/search_bg.png");
  height: 704px;
}
