.banner {
  position: relative;
  /* background-color:rgba(0, 0, 0, 0.8);까만색(0,0,0) 80% 투명도 */
  margin-bottom: 50px;
}

.banner__photo {
  width: 100%;
}

.banner__cover {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
