.book-detail-main {
  min-width: 120rem;
  margin: 0 auto 30rem;
}
.book-detail-title {
  position: relative;
  padding: 8.9rem 0 6rem ;
  min-width: 90rem;
  height: 10.7rem;
  z-index: 2;
}
.book-content {
  display: flex;
  width: 120rem;
  min-width: 120rem;
  margin: 6rem 1rem;
}
.breadcrumb {
  display: flex;
  justify-content: flex-end;
  margin-top: 12rem;
}

.book-detail-body {
  width: 120rem;
  position: relative;
  margin: 0 auto;
}
.book-detail__photo img {
  width: 34.8rem;
  height: 51.1rem;
  margin: 0 4.8rem 0 0;
}
.book-photo {
  width: 100%;
  height: auto;
}
.book-detail__title {
  width: auto;
  height: 4.1rem;
  font-size: 2.8rem;
  font-weight: bold;
  margin-top: 0.8rem;
  margin-bottom: 2.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-detail {
  width: 80rem;
}
.book-detail__info {
  border-style: solid;
  border-color: #a4a4a4 !important;
  border-top: solid 0.1rem;
  border-bottom: solid 0.1rem;
  height: 24rem;
  display: flex;
}
.book-detail__info-key {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: -0.036rem;
  margin-top: 1.5rem;
  /* padding-top: 12px; */
}

.book-detail__info-value {
  display: block;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-left: 10rem;
  font-weight: normal;
}
.book-info__title {
  font-size: 1.6rem;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-state {
  margin-top: 2rem;
}
.book-state__list {
  margin-top: 2rem;
}

@media screen and (min-width:768px) and (max-width: 1200px) {

}

@media screen and (max-width:767px){

  .breadcrumb span {
    font-size: 5rem;
    padding-right: 4rem;
  }

  .book-content {
    display: block;
  }

  .book-detail__photo {
    margin: 3rem auto;
    width: 85%;
    height: 120rem;
  }

  .book-detail__photo img {
    width: 100%;
    height: 100%;
  }

  .book-detail {
    width: 90%;
    padding: 5rem;
  }

  .book-detail__info span {
    font-size: 5rem;
  }

  .book-detail__title {
    font-size: 5rem;
    height: auto;
  }

  .book-detail__info {
    height: auto;
    padding: 0 0 2rem 0;
  }

  .detail-info span {
    padding: 2rem 0;
  }

  .book-state__list > div {
    width: 100%;
  }

  .book-state > span {
    font-size: 5rem;
  }

}