.book-detail-body {
  max-width: 100rem;
  position: relative;
  margin: 6rem auto;
}

.breadcrumb {
  display: flex;
  justify-content: flex-end;
  margin-top: 12rem;
  margin-right: 3rem;
}

.book-content {
  display: flex;
  width: 100%;
  margin: 6rem 0;
}

.book-detail__photo {
  margin: 0 4.8rem 0 0;
}

.book-detail__photo img {
  width: 34.8rem;
  height: 51.1rem;
}

.book-detail {
  width: 70%;
  overflow: hidden;
}

.book-detail > span:first-child {
  font-size: 1.6rem;
  font-weight: 400;
}

.book-detail__title {
  width: auto;
  height: 4.1rem;
  font-size: 2.8rem;
  font-weight: bold;
  margin-top: 0.8rem;
  margin-bottom: 2.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-detail__info {
  border-style: solid;
  border-color: #a4a4a4 !important;
  border-top: solid 0.1rem;
  border-bottom: solid 0.1rem;
  height: 24rem;
  display: flex;
  width: 100%;
}

.book-detail__info > div:first-child {
  width: 15%;
}

.book-detail__info > div:nth-child(2) {
  width: 85%;
}

.book-detail__info-key {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: -0.036rem;
  margin-top: 1.5rem;
}

.book-detail__info-value {
  display: block;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-left: 10rem;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

.book-state {
  margin-top: 2rem;
}

.book-state__list {
  margin-top: 2rem;
}

@media screen and (min-width:768px) and (max-width: 1200px) {

  .book-detail {
    width: 55%;
    margin-right: auto;
  }

  .book-detail__photo img {
    width: 33.4rem;
    margin: 0 1rem 0 0;
  }

  .book-detail__photo {
    margin: 0 0.4rem 0 auto;
  }

  .book-detail__info-value {
    margin-left: 4rem;
  }

}

@media screen and (max-width:767px){

  .book-detail-body {
    padding: 0;
    width: 100%;
    min-width: 36rem;
    position: relative;
    margin: 0 auto;
  }

  .breadcrumb span {
    font-size: 2rem;
    margin-right: 0;
  }

  .book-content {
    display: block;
  }

  .book-detail__photo {
    margin: 0 auto 3rem auto !important;
    width: 80%;
    height: 25%;
  }

  .book-detail__photo img {
    width: 100%;
    height: 100%;
  }

  .book-detail {
    margin: 0 auto;
    width: 90%;
  }

  .book-detail__info span {
    font-size: 2rem;
  }

  .book-detail__title {
    font-size: 3rem;
    height: auto;
  }

  .book-detail__info {
    height: auto;
    padding: 0 0 2rem 0;
  }

  .book-detail__info > div:first-child {
    width: 25%;
  }

  .book-detail__info > div:nth-child(2) {
    width: 75%;
  }

  .book-detail__info-value {
    margin-left: 2.5rem;
  }

  .detail-info span {
    padding: 2rem 0;
  }

  .book-state__list > div {
    width: 100%;
  }

  .book-state > span {
    font-size: 2rem;
  }

}