.book-management__wrapper {
  margin: 0 auto;
  min-width: 36rem;
}

.book-management__search-bar.center {
  max-width: 64rem;
}

.book-management__list {
  margin: 10rem auto 4rem;
  max-width: 120rem;
  min-width: 35rem;
}

.book-management__list__box-title {
  display: flex;
  background-color: #545454;
  border-top-left-radius: 6.1rem;
  border-top-right-radius: 6.1rem;
  padding: 5rem 5rem 3.4rem;
  font-size: 1.8rem;
  color: #e8e8e8;
}

.book-management__list__box {
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  margin: 0 auto 14rem auto;
  border-bottom-left-radius: 6.1rem;
  border-bottom-right-radius: 6.1rem;
  padding: 3rem 0 2rem;
}

.book-management__list__item {
  display: flex;
  color: #545454;
  height: 4rem;
  padding: 2rem 5rem;
  position: relative;
}

.book-management__list__item:not(:first-of-type) {
  border-top: solid 0.1rem #a4a4a4;
}

.book-management__list__item > *,
.book-management__list__box-title > *,
.book-management__list__classification > * {
  display: inline-block;
  margin: auto 1rem;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-management__checkbox {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: auto;
}

.book-management__list__id {
  flex: 0 0 3rem;
  margin-left: 3rem;
}

.book-management__list__classification {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 14rem;
}

.book-management__list__classification > * {
  flex: 1 1 12rem;
}

.book-management__list__title {
  flex: 1 2 20rem;
}

.book-management__list__status {
  flex: 0 1 4rem;
  white-space: initial;
  word-break: keep-all;
  line-height: 1;
}

.book-management__list__information {
  flex: 0 1 4rem;
  display: inline-block;
  background-color: unset;
  border: unset;
  cursor: pointer;
}

.book-management__list__box > .pagination {
  margin-top: 4rem;
  padding-bottom: 4rem;
}

@media screen and (max-width: 767px) {
  .book-management__list {
    margin: 5.5rem auto 4rem;
  }
  .book-management__list__box-title {
    border-top-left-radius: 3.5rem;
    border-top-right-radius: 3.5rem;
    padding: 1.7rem 1rem 1.5rem;
    box-sizing: border-box;
  }

  .book-management__list__box {
    border-bottom-left-radius: 3.5rem;
    border-bottom-right-radius: 3.5rem;
    margin: 0 auto 10rem auto;
    padding: 1.8rem 0 0 0;
  }
  .book-management__list__item {
    height: 4rem;
    padding: 2rem 1rem;
  }

  .book-management__list__item > *,
  .book-management__list__box-title > *,
  .book-management__list__classification > * {
    font-size: 1.4rem;
    margin: auto 0.2rem;
  }

  .book-management__list__call-sign {
    font-weight: normal;
  }

  .book-management__list__classification {
    flex-basis: 10rem;
  }
  .book-management__list__classification > * {
    flex-basis: 8rem;
  }
}
