.book-status {
  background-color: beige;
  margin-top: 100px;
  margin-left: 13%;
  margin-right: 13%;
  display: flex;
}

.book-detail__photo {
  height: 300px;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
}

.book-table {
  margin: 0 auto;
  width: 100%;
}
