.book-status {
  margin-bottom: 1.2rem;
  display: flex;
  font-size: 1.8rem;
}

.book-status__id {
  margin-right: 3%;
}

.book-status__callSign {
  margin-right: 3%;
  text-align: center;
}

.book-status__status {
  margin-right: 2%;
  text-align: center;
}

.book-status__dueDate {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-right: 3%;
  width: 9rem;
  text-align: center;
}

.book-status__donator {
  overflow: hidden;
  text-overflow: ellipsis;
}

.reservation-btn,
.book-status__toggle {
  margin-top: 0.3rem;
}

.reservation-btn {
  background: none;
  border: none;
}

.reservation-btn.cursor-pointer {
  cursor: pointer;
}

.book-status__toggle-img {
  margin-left: 1.2rem;
  margin-top: 0.3rem;
}

.book-status__toggle-img-clicked {
  margin-left: 1.2rem;
  margin-top: 0.3rem;
}

@media screen and (max-width: 767px) {
  .book-status {
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }
  .book-status > * {
    margin-right: 5%;
  }
  .book-status__dueDate {
    display: none;
  }
}
