.book-detail-main {
  margin: 0 auto 30rem;
}
.book-detail-title {
  position: relative;
  padding: 8.9rem 0 6rem ;
  min-width: 90rem;
  height: 10.7rem;
  z-index: 2;
}
.book-content {
  display: flex;
  width: 100%;
  margin: 6rem 0;
}

.breadcrumb {
  display: flex;
  justify-content: flex-end;
  margin-top: 12rem;
  margin-right: 3rem;
}

.book-detail-body {
  width: 80%;
  position: relative;
  margin: 0 auto;
}

.book-detail__photo {
  margin: 0 4.8rem 0 0;
}

.book-detail__photo img {
  width: 34.8rem;
  height: 51.1rem;
}

.book-photo {
  width: 100%;
  height: auto;
}
.book-detail__title {
  width: auto;
  height: 4.1rem;
  font-size: 2.8rem;
  font-weight: bold;
  margin-top: 0.8rem;
  margin-bottom: 2.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-detail {
  width: 70%;
  margin-right: 3rem;
}

.book-detail__info {
  border-style: solid;
  border-color: #a4a4a4 !important;
  border-top: solid 0.1rem;
  border-bottom: solid 0.1rem;
  height: 24rem;
  display: flex;
  width: 100%;
}

.book-detail__info > div:nth-child(1) {
  width: 30%;
}

.book-detail__info > div:nth-child(2) {
  width: 70%;
}

.book-detail__info > div:nth-child(2) > span {
  text-overflow: ellipsis;
  overflow: hidden;
}

.book-detail__info-key {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: -0.036rem;
  margin-top: 1.5rem;
}

.book-detail__info-value {
  display: block;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-left: 5rem;
  font-weight: normal;
}
.book-info__title {
  font-size: 1.6rem;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-state {
  margin-top: 2rem;
}
.book-state__list {
  margin-top: 2rem;
}

@media screen and (min-width:768px) and (max-width: 1200px) {

  .book-detail-body {
    width: 90%;
  }

  .book-detail {
    width: 65%;
  }

  .book-content > div {
    margin: auto;
  }

  .book-detail__photo img {
    width: 25rem;
    margin: 0 2rem 0 0;
  }
}

@media screen and (max-width:767px){

  .book-detail-body {
    width: 100%;
    min-width: 36rem;
    position: relative;
    margin: 0 auto;
  }

  .breadcrumb span {
    font-size: 2rem;
    margin-right: 0;
  }

  .book-content {
    display: block;
  }

  .book-detail__photo {
    margin: 0 auto 3rem auto !important;
    width: 95%;
    height: 70rem;
  }

  .book-detail__photo img {
    width: 100%;
    height: 100%;
  }

  .book-detail {
    margin: 0 auto;
    width: 90%;
  }

  .book-detail__info span {
    font-size: 2rem;
  }

  .book-detail__title {
    font-size: 3rem;
    height: auto;
  }

  .book-detail__info {
    height: auto;
    padding: 0 0 2rem 0;
  }

  .detail-info span {
    padding: 2rem 0;
  }

  .book-state__list > div {
    width: 100%;
  }

  .book-state > span {
    font-size: 2rem;
  }

}