.book-management__wrapper {
  margin: 0 auto;
  min-width: 36rem;
}

.book-management__list {
  margin: 10rem auto 4rem;
  max-width: 120rem;
  min-width: 35rem;
}

.book-management__list__box-title {
  background-color: #545454;
  border-top-left-radius: 6.1rem;
  border-top-right-radius: 6.1rem;
  padding: 5rem 5rem 3.4rem 3rem;
}

.book-management__checkbox {
  width: 2rem;
  height: 2rem;
  margin: auto auto;
}

.book-management__list__box-title > span {
  font-size: 1.8rem;
  color: #e8e8e8;
}

.book-management__list__box {
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  margin: 0 auto 14rem auto;
  border-bottom-left-radius: 6.1rem;
  border-bottom-right-radius: 6.1rem;
  padding: 3rem 0 0 0;
}

.book-management__list__item {
  height: 4rem;
  padding: 1rem 3rem;
}

.book-management__list__item > *,
.book-management__list__box-title > * {
  display: inline-block;
  margin: auto 1rem;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-management__list__id {
  width: 3rem;
}

.book-management__list__category {
  width: 16rem;
}

.book-management__list__call-sign {
  width: 13rem;
}

.book-management__list__title {
  width: 40%;
}

.book-management__cart {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 16rem;
  z-index: 1;
  padding: 2rem;
  overflow-y: scroll;
}

.book-management__cart__item {
  height: 3rem;
}
.book-management__cart__item > span {
  margin: auto 2rem;
}

.book-management__cart__remove-button {
  border: none;
  background-color: unset;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .book-management__list__box-title {
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    padding: 2rem 0 0.8rem 0;
  }

  .book-management__list__box {
    width: 100%;
    border-bottom-left-radius: 4.2rem;
    border-bottom-right-radius: 4.2rem;
    margin: 0 auto 11rem auto;
    padding: 2.4rem 0 0 0;
  }
}

@media screen and (max-width: 767px) {
  .book-management__list__box-title {
    border-top-left-radius: 3.5rem;
    border-top-right-radius: 3.5rem;
    padding: 1.2rem 0 0.2rem 0;
  }

  .book-management__list__box {
    border-bottom-left-radius: 3.5rem;
    border-bottom-right-radius: 3.5rem;
    margin: 0 auto 8.5rem auto;
    padding: 1.8rem 0 0 0;
  }
  .book-management__list__item > span {
    font-size: 1.2rem;
  }
}
