.category-button {
  padding: 0;
  margin: 0 36px 0 0;
  border: 0;
  background: none;
  cursor: pointer;
  /* color: #fff;
  transition: all 0.9s, color 0.3; */
  /* -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

/* .category-button:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
} */

.button-onclick-false {
  padding-bottom: 28px;
}

.button-onclick-true {
  padding-bottom: 20px;
  border-bottom: 8px solid;
  border-color: #545454;
}

.category-button-text {
  height: 24px;
  /* overflow:visible; */
}

.category-filter {
  padding: 48px 0 28px 0;
}

.category-filter__line {
  height: 1px;
  background-color: #a4a4a4;
  position: relative;
  z-index: 1;
  top: -4px;
}

.category-button-icon {
  width: 8px;
  height: 16px;
}

.category-button-icon-reverse {
  width: 8px;
  height: 16px;
  transform-origin: 50% 50%;
  transform: rotate(180deg);
}

.category-filter__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.categories {
  display: flex;
  overflow: hidden;
  /* width: 900px; */
}

.pre-category {
  width: 53px;
  height: 16px;
  margin: 4px 0 0 0;
  padding: 0 45px 0 0;
  border: 0;
  background: none;
  cursor: pointer;
}

.next-category {
  width: 53px;
  height: 16px;
  margin: 4px 0 0 0;
  padding: 0 0 0 45px;
  margin-left: auto;
  border: 0;
  background: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
