.mypage-edit-pw {
  height: 60rem;
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.mypage-edit-pw-box {
  width: 100%;
  margin-top: 10rem;
}

.mypage-edit-pw-leftArrow img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.inline-block {
  display: inline-block;
}

@media screen and (max-width: 420px) {
  .mypage-edit-pw {
    width: 100%;
  }
  .mypage-edit-pw-title {
    width: 100%;
    white-space: break-spaces;
  }
  .mypage-edit-pw-new_pw {
    grid-template-columns: 30% 60%;
    column-gap: 2rem;
  }
  .mypage-edit-pw-check_pw {
    grid-template-columns: 30% 60%;
    column-gap: 2rem;
  }
}
