@media screen and (max-width: 1199px) {
  .gnb__text {
    font-size: 1.6rem !important;
  }

  .lnb__text {
    font-size: 1.4rem !important;
  }
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.header {
  width: 100%;
  margin: auto;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
}

.header-wrapper {
  padding: 7rem 15rem 0 15rem;
  display: flex;
  max-width: 120rem;
  min-width: 88rem;
  margin: auto;
  flex-grow: 1;
}

.header__logo {
  flex: none;
  margin: 0 0 0 0;
}

.logo_img {
  width: 12.4rem;
  height: 4.2rem;
  object-fit: contain;
}

.header__gnb {
  margin-left: auto;
}

.gnb__menu {
  list-style: none;
  display: flex;
  padding: 0 0 0 0;
  margin: 1rem 0 0 0;
}

.gnb__text {
  margin: 0 0 0 0;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  word-break: keep-all;
}

.gnb__icon {
  margin: 0 1rem 0 0;
  object-fit: contain;
}

.gnb__book__icon {
  width: 1.65rem;
  height: 2.2rem;
}

.gnb__info__icon {
  width: 2.2rem;
  height: 2.2rem;
}

.gnb__button {
  margin: 0 0 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gnb__user__button {
  all: unset;
  margin: 0 0 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gnb__user__icon {
  width: 2.2rem;
  height: 2.2rem;
}

.gnb__dropdown__icon {
  width: 1.3rem;
  height: 1.3rem;
  margin: 0.5rem 0 0 0.8rem;
}

.gnb__user__lnb {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  flex-direction: row-reverse;
  right: 0.3rem;
}

.lnb__line__circle {
  position: relative;
  margin: 0 0 0 0.9rem;
}

.lnb__line {
  position: relative;
  height: 11.5rem;
  width: 0;
  border-right: solid 0.1rem #fff;
  top: -1rem;
  left: 0.3rem;
}

.lnb__circle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: -12.4rem;
}

.lnb__circle__shape {
  position: relative;
  width: 0.7rem;
  height: 0.7rem;
  border: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 100%;
}

.lnb__circle__rent {
  top: 3.3rem;
}

.lnb__circle__return {
  top: 6.6rem;
}

.lnb__circle__reservation {
  top: 9.9rem;
}

.lnb__menu {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.lnb__text {
  word-break: keep-all;
  white-space: nowrap;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  opacity: 0.8;
}

.lnb__text:hover {
  opacity: 1;
  font-weight: bold;
}

.lnb__rent {
  margin-top: 1.4rem;
}

.lnb__mypage {
  margin-top: 1.6rem;
}

.lnb__reservation {
  margin-top: 1.6rem;
}

@media screen and (max-width: 1199px) {
  .header-wrapper {
    padding: 5rem 8rem 0 8rem;
    min-width: 58.8rem;
  }

  .gnb__button {
    margin: 0 0 0 4rem;
  }

  .gnb__user__button {
    margin: 0 0 0 4rem;
  }

  .logo_img {
    width: 11.16rem;
    height: 3.78rem;
  }

  .gnb__book__icon {
    width: 1.5rem;
    height: 2rem;
  }

  .gnb__info__icon {
    width: 2rem;
    height: 2rem;
  }

  .gnb__user__icon {
    width: 2rem;
    height: 2rem;
  }

  .gnb__dropdown__icon {
    width: 1.3rem;
    height: 1.3rem;
    margin: 0.6rem 0 0 0.8rem;
  }

  .lnb__line {
    height: 10.2rem;
    top: -1rem;
    left: 0.3rem;
  }

  .lnb__circle {
    top: -12.4rem;
  }

  .lnb__circle__shape {
    width: 0.7rem;
    height: 0.7rem;
  }

  .lnb__circle__rent {
    top: 4.3rem;
  }

  .lnb__circle__return {
    top: 7.1rem;
  }

  .lnb__circle__reservation {
    top: 9.8rem;
  }

  .lnb__rent {
    margin-top: 1.4rem;
  }

  .lnb__mypage {
    margin-top: 1.4rem;
  }

  .lnb__reservation {
    margin-top: 1.4rem;
  }
}
