.header-modal__background {
  all: unset;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  display: flex;
  height: 100vh;
  min-width: 28rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.header-modal__container {
  min-height: 37.5rem;
  width: 28rem;
  background: #f9f9f9;
  z-index: 4;
}

.header-modal__close-button {
  all: unset;
  margin: 0.7rem 0.7rem 2rem auto;
  display: flex;
  cursor: pointer;
}

.header-modal__icon-close {
  width: 2rem;
  height: 2rem;
}

.header-modal__user-container {
  padding: 3rem 2.5rem 2rem 2.5rem;
  width: 23rem;
  background: #2d2d2d;
}

.header-modal__button-container {
  padding: 0.5rem 0 0.5rem 0;
  /* height: 30rem; */
}

.header-modal__button:hover {
  background-color: #e8e8e8;
}

.header-modal__button {
  all: unset;
  padding: 1rem 2.5rem 1rem 2.5rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-modal__user {
  display: flex;
  align-items: center;
}

.header-modal__admin__icon {
  text-align: center;
  line-height: 4.1rem;
  width: 4.35rem;
  height: 4.35rem;
  border-radius: 5rem;
  border: solid 0.15rem;
  background-color: #e63737;
}

.header-modal__user__icon {
  text-align: center;
  line-height: 4.1rem;
  width: 4.35rem;
  height: 4.35rem;
  border-radius: 5rem;
  border: solid 0.15rem;
  background-color: #545454;
}

.header-modal__anonymous__icon {
  width: 4.5rem;
  height: 4.5rem;
}

.profile__text {
  margin-left: 1.5rem;
}

.header-modal__icon-book {
  width: 1.6rem;
  height: 2.2rem;
  padding: 0.4rem 0.4rem 0.4rem 0.8rem;
}

.header-modal__icon-db {
  /* width: 1.6rem; */
  width: 1.9rem;
  width: 1.9rem;
  padding: 0.4rem 0.4rem 0.4rem 0.7rem;
}

.header-modal__icon {
  width: 2rem;
  height: 2rem;
  padding: 0.4rem 0.2rem 0.4rem 0.6rem;
}

.header-modal__icon-in {
  width: 2.2rem;
  height: 2.2rem;
  padding: 0.3rem 0.5rem 0.3rem 0.1rem;
}

.header-modal__icon-out {
  width: 2.8rem;
  height: 2.8rem;
}

.header-modal__text {
  margin-left: 1.5rem;
}

.header-modal__line {
  height: 0.1rem;
  background-color: #d5d5d5;
  margin: 0.5rem 0 0.5rem 0;
}
