a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.header {
  padding: 80px 270px 0 270px;
  display: flex;
  height: 164px;
  max-width: 1200px;
  min-width: 900px;
  margin: auto;
  position: relative;
  z-index: 2;
  left: 0;
  right: 0;
}

.header__logo {
  flex: none;
  margin: 0 0 0 0;
}

.logo_img {
  width: 124px;
  height: 42px;
  object-fit: contain;
}

.header__gnb {
  margin-left: auto;
}

.gnb__menu {
  list-style: none;
  display: flex;
  padding: 0 0 0 0;
  margin: 9px 0 0 0;
}

.gnb__info {
  margin: 0 60px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gnb__info__icon {
  width: 25px;
  height: 25px;
  margin: 1px 8px 1px 0;
  object-fit: contain;
}

.gnb__info__text {
  margin: 0 0 0 0;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  word-break: keep-all;
}

.gnb__admin__button {
  all: unset;
  margin: 0 60px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gnb__admin__icon {
  width: 18px;
  height: 25px;
  margin: 1px 8px 1px 0;
  object-fit: contain;
}

.gnb__admin__text {
  margin: 0 0 0 0;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  word-break: keep-all;
  white-space: nowrap;
}

.gnb__admin__lnb {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* height: 130px; */
}

.lnb__line__circle {
  position: relative;
}

.lnb__line {
  position: relative;
  height: 117.5px;
  width: 0;
  border-right: solid 1px #fff;
  margin: 0 13.5px 0 9px;
  top: -1.5px;
}

.lnb__circle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 0 0 0;
  top: -122.5px;
  left: 6.5px;
}

.lnb__circle__rent {
  position: relative;
  width: 7px;
  height: 7px;
  border: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 100%;
  top: 28px;
}

.lnb__circle__return {
  position: relative;
  width: 7px;
  height: 7px;
  border: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 100%;
  top: 64px;
}

.lnb__circle__reservation {
  position: relative;
  width: 7px;
  height: 7px;
  border: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 100%;
  top: 100px;
}

.lnb__menu {
  list-style: none;
  padding-inline-start: 0;
}

.lnb__text {
  word-break: keep-all;
  white-space: nowrap;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

.lnb__rent {
  margin-top: 14px;
}

.lnb__return {
  margin-top: 16px;
}

.lnb__reservation {
  margin-top: 17px;
}

.gnb__login {
  margin: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gnb__login__icon {
  width: 23px;
  height: 25px;
  margin: 1px 8px 1px 0;
  object-fit: contain;
}

.gnb__login__text {
  margin: 0 0 0 0;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  word-break: keep-all;
}
