/* .infomation-bg {
  background-image: url("../img/infomation_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 1320px;
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
} */

.infomation-wraper {
	position: relative;
	padding: 0 270px 60px 0;
	min-width: 900px;
	z-index: 2;
  }

.infomation-title {
  position: relative;
  padding: 132px 270px 60px 270px;
  min-width: 900px;
  z-index: 2;
}

.infomation-section {
  min-width: 900px;
  max-width: 1200px;
  padding: 0 270px 0 270px;
  margin: auto;
}

.infomation-subtitle {
  width: 400px;
  padding: 118px 0 148px 0;
}

.infomation-qna {
	width: 800px;
	margin-left: auto;
}
