.information-wrapper {
  padding: 0 15rem 0 15rem;
}

.information-section {
  min-width: 90rem;
  max-width: 120rem;
  margin: 0 auto 0 auto;
}

.information-subtitle {
  padding: 11rem 0 14rem 0;
  margin-left: 4rem;
}

.information-qna {
  min-width: 80rem;
  max-width: 80rem;
  margin-left: auto;
  margin-bottom: 21rem;
}

.information-subtitle__line {
  width: 4rem;
  height: 0.4rem;
  background-color: #a4a4a4;
  margin-bottom: 4.2rem;
}

.information-subtitle__title {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.48;
  letter-spacing: normal;
  text-align: left;
  color: #2d2d2d;
  word-break: keep-all;
  white-space: normal;
}

@media screen and (max-width: 1199px) {
  .information-wrapper {
    padding: 0 8rem 0 8rem;
  }

  .information-section {
    min-width: 60.8rem;
    max-width: 104rem;
  }

  .information-qna {
    min-width: 52.8rem;
    max-width: 80rem;
    padding-left: 7rem;
	margin-bottom: 17.5rem;
  }

  .information-subtitle {
    padding: 8.3rem 0 10.5rem 0;
    margin-left: 3rem;
  }

  .information-subtitle__title {
    font-size: 3.2rem;
  }

  .information-subtitle__line {
    width: 3.2rem;
    height: 0.3rem;
    margin-bottom: 3.2rem;
  }
}

@media screen and (max-width: 767px) {
  .information-wrapper {
    padding: 0 3rem 0 3rem;
  }

  .information-section {
    min-width: 30rem;
    max-width: 70.8rem;
  }

  .information-qna {
    min-width: 27rem;
    max-width: 52.8rem;
    padding-left: 3rem;
	margin-bottom: 13rem;
  }

  .information-subtitle {
    padding: 6rem 0 6.5rem 0;
    margin-left: 1.5rem;
  }

  .information-subtitle__title {
    font-size: 2.4rem;
  }

  .information-subtitle__line {
    width: 2.4rem;
    height: 0.25rem;
    margin-bottom: 2rem;
  }
}
