.main-popular {
  margin-top: 240px;
  padding: 0 120px 0 120px;
  margin-bottom: 300px;
}

.main-popular__wrapper {
  width: 1200px;
  height: 803px;
  margin: 0px auto;
}

.margin-16 {
  margin: 16px;
}

.main-popular__content {
  height: 580px;
  margin-top: 80px;
}

.main-popular__cover {
  width: 342px;
  height: 580px;
  float: left;
  margin-top: -160px;
}
.main-popular__cover-img {
  width: 342px;
  height: 500px;
  background-color: #a4a4a4;
}
.main-popular__cover-more {
  width: 262.1px;
  height: 48px;
  border-radius: 24px;
  background-color: #e63737;
  margin: 32px auto 0;
  padding: auto;
  text-align: center;
  line-height: 48px;
}


.main-popular__description {
  margin-left: 390px;
  border-bottom: 1px solid rgba(45, 45, 45, 0.4);
  height: 159px;
}

.main-popular__title {
  margin-top: 12px;
  margin-bottom: 16px;
}

.main-popular__detail {
  margin-left: 28px;
}

.main-popular__container {
  width: 714px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.main-popular__booklist {
  margin-top: 56px;
  margin-left : 390px;
  display: flex;
  justify-content: space-between;
}

.main-popular__books {
  transition: all 0.3s ease-in-out;
  -webkit-transition: 0.3s;
}

.main-popular__arrow {
  width: 32px;
  background-image: url(../img/arrow_left_circle.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  top: 50%;
  background-color: transparent;
  border: none;
}

.main-popular__arrow.right {
  background-image: url(../img/arrow_right_circle.svg);
}

.main-popular__arrow:hover {
  background-image: url(../img/arrow_left_circle_hover.svg);
}

.main-popular__arrow.right:hover {
  background-image: url(../img/arrow_right_circle_hover.svg);
}


@media screen and (max-width: 1200px) {
  /* .main-popular {
    width: 100%;   
    white-space:normal;

  }
  .main-popular__cover {
    float: none;
    margin-top: 0px;
  }
  .main-popular__description {
    margin-left: 0px;
    
  }
  .main-popular__booklist {
    margin-left: 0px;
    white-space:normal;
  } */
}