.main-wrapper {
  min-width: 1200px;
}

/* .main-bg {
	background-image: url("../img/main_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-width: 1320px;
	width: 100%;
	min-height: 938px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
  }
  
  .main-title {
	padding: 277px 0 60px 0;
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .main-title__greet {
	margin: 0 0 0 0;
	font-family: NotoSansCJKKR;
	font-size: 48px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.48;
	letter-spacing: normal;
	text-align: left;
	color: #fff;
	word-break: keep-all;
	white-space: nowrap;
  }
  
  .main-title__line {
	width: 40px;
	height: 6px;
	background-color: #d5d5d5;
	margin-bottom: 57px;
	padding: 0;
	border: 0;
  }
  
  .main-title__search {
	margin: 16px 0 0 0;
	font-family: NotoSansCJKKR;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #d5d5d5;
	word-break: keep-all;
	white-space: nowrap;
  }
  
  .main-new {
	padding: 0px 18.8vw 0 18.8vw;
	margin-top: 238px;
  }
  
  .main-popular {
	padding: 0 18.8vw 0 18.8vw;
	margin-top: 240px;
	margin-bottom: 300px;
  } */
