.main-new {
  width: 100%;
  height: 695px;
  margin-top: 240px;
}

.main-new__title-wrapper {
  min-width: 900px;
  padding: 0 270px 0 270px;
  margin: auto;
}

.main-new__booklist {
  margin-top: 100px;
  position: relative;
  z-index: 1;
  width: 100%;
  min-width: 1440px;
  overflow: hidden;
}

.main-new__book {
  text-align: none;
  width: 216px;
  margin-left: 20px;
  vertical-align: top;
}
.main-new__book:first-child {
  margin-left: 0;
}
.main-new__book:nth-child(even) {
  margin-top: 20px;
}

.main-new__books_pagination {
  position: relative;
  width: 1920px;
  display: block;
}
.main-new__books_pag_circlebox {
  display: inline;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.main-new__books_pag_circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #a4a4a4;
  display: inline-block;
  margin-left: 12px;
}

.main-new__books_pag_circle:first-child {
  margin: 0;
}

.main-new__books_pag_circle.selected {
  background-color: #2d2d2d;
}

.main-new__arrowbox {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-new__arrow {
  width: 80px;
  height: 340px;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
}
