.main__popular {
  margin: 240px auto;
  padding: 0;
  margin-bottom: 300px;
  box-sizing: border-box;
  width: 100vw;
  overflow: hidden;
}


.main__popular__wrapper {
  width: 760px;
  height: 750px;
  margin: 0px auto;
}

.main__popular__contents {
  margin: 80px auto;
  width: 760px;
}

.main__popular__content {
  background-color: #f2f2f2;
  padding: 20px 0 5px ;
  margin: 0 10px;
  border-radius: 30px;
  box-sizing: border-box;
}

.main__popular__side {
  height: 370px;
  padding: 0;
  border: 0px;
  top: -420px;
}

.main__popular__left {
  float: left;
  position: relative;
  left:-200px;
}

.main__popular__right{
  float: right;
  position: relative;
  right:-200px;
}
.main__popular__basic-book {
  display: block;
  margin :0 20px 15px ;
  padding: 0px;
  width: 140px;
  height: 100px;
  border: solid 10px #ffffff;
  border-radius: 20px;
  background-color: #ffffff;
  text-align: left;
  overflow: hidden;
  box-sizing: border-box;
}

.main__popular__basic-book.center{
  width: 700px;
  font: inherit;
}

.main__popular__basic-book.selected {
  height: 210px;
}

.main__popular__basic-img {
  width: 150px;
  float: left;
}
.main__popular__summary {
  display: block;
  overflow: hidden;
  font:inherit;
}

.main__popular__rank {
  float:left;
  margin: 10px 20px;
}

.main__popular__detail {
  display: block;
  margin: 0px 0 10px 170px;
  line-height: 200%;
}
.main__popular__detail.hidden {
  display: none;
}

.main__popular__pagination {
  width:7.6rem;
  height: 0.4rem;
  position: relative;
  background-color: #2d2d2d;
  z-index: 1;
  top:4rem;
}

.main__popular__center::after {
  content: " ";
  display: block;
  position: relative;
  background-color: #d5d5d5;
  z-index: 0;
  left:0;
  right:0;
  top:3.7rem;
  height: 0.2rem;
}


@media screen and (max-width:767px) {
  .main__popular__contents {
    margin-left: 0;
  }
}