@import url(./Modal.css);

.mid-modal__cover {
  float: left;
  width: 342px;
  height: 500px;
  margin-right: 48px;
}

.mid-modal__cover-img {
  width: 342px;
  height: 500px;
}

.mid-modal__detail {
  display: inline-block;
  width: 100%;
}

.mid-modal__book {
  height: 133px;
  margin-bottom: 28px;
}

.mid-modal__user {
  float: left;
  width: 50%;
  height: 133px;
}

.mid-modal__lend {
  height: 133px;
}

.mid-modal__remark {
  margin-top: 28px;
  height: 178px;
}

.mid-modal__remark__input {
  width: 100%;
  box-sizing: border-box;
  height: 80px;
  display: block;
  margin-bottom: 15px;
}

.margin-8 {
  margin: 8px 0 8px 0;
}

@media screen and (max-width: 767px) {
  
  .mid-modal__cover {
    float: none;
    margin:auto;
    width: 137px;
    height: 200px;
  }
  .mid-modal__cover-img {
    width: 137px;
    height: 200px;
  }
  
  .mid-modal__book {
    height: 80px;
    margin-bottom: 1.8rem;
  }
  .mid-modal__lend{
    height: 80px;
  }
  .mid-modal__user {
    height: 80px;
  }
  .modal__wrapper .font-28-bold {
    font-size: 2.3rem;
  }

  .margin-8 { 
    margin:0;
  }
  .mid-modal__remark {
    height:40px;
  }
  .mid-modal__remark__input {
    height: 50px;
  }
}