@import url(./Modal.css);

.modal__container.mini {
  width: 800px;
  height: 460px;
}

.modal__close-button.mini {
  display: block;
  float: right;
  top: 0;
  right: 0;
}
.modal__wrapper {
  padding: 80px 40px 40px 64px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.mini-modal__text {
  height: 290px;
  position: relative;
}

.mini-modal__text:before {
  content: " ";
  background-color: #a4a4a4;
  position: absolute;
  left: 0;
  right: 650px;
  height: 4px;
}

.mini-modal__text__title {
  padding-top: 40px;
  line-height: 56px;
}

.mini-modal__text__message {
  margin-top: 40px;
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
}

.modal__button {
  margin-right: 24px;
  border: 0;
  padding: 0.5rem 2rem;
  text-align: center;
  border-radius: 24px;
  background-color: #a4a4a4;
  cursor: pointer;
}

.modal__button.mini {
  float: right;
}

.modal__button.confirm {
  background-color: #e63737;
}

.modal__button.confirm.mini {
  margin: 0;
}
