.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.mini-modal__container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 460px;
  width: 800px;
  background: #ffffff;
  z-index: 3;
}

.mini-modal__close-button {
  margin: 0;
  padding: 0;
  border: 0;
  width: 20px;
  height: 20px;
  margin: 40px 40px 0 auto;
  float: right;
  top: 0;
  right: 0;
  cursor: pointer;
}

.mini-modal__wrapper {
  padding: 64px 40px 40px 40px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.mini-modal__cancel-button {
  margin: 0;
  border: 0;
  padding: 9px 36px 9px 36px;
  background: none;
  border-radius: 24px;
  background-color: #a4a4a4;
  float: right;
  bottom: 0;
}

.mini-modal__confirm-button {
  margin: 0 0 0 24px;
  border: 0;
  padding: 9px 36px 9px 36px;
  border-radius: 24px;
  background-color: #e63737;
  float: right;
  bottom: 0;
}
