.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 6;
}

.modal__container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 67.6rem;
  width: 120rem;
  min-width: 36rem;
  background: #ffffff;
  z-index: 7;
  overflow: auto;
}

.modal__close-button {
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
  width: 2rem;
  height: 2rem;
  margin: 4rem 4rem 0 auto;
  display: flex;
  cursor: pointer;
}

.modal__wrapper {
  padding: 8rem 6rem;
  min-width: 36rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.modal__button {
  margin-right: 2.4rem;
  border: 0;
  padding: 1rem 3rem;
  text-align: center;
  border-radius: 2.4rem;
  background-color: #a4a4a4;
  cursor: pointer;
}

.modal__button.confirm {
  background-color: #e63737;
}

@media screen and (max-width: 1200px) {
  .modal__container {
    width: 100%;
  }
}
