.modal-search-form {
  text-align: center;
  /* width: 783px; */
  height: 64px;
  display: flex;
  border-radius: 61px;
  padding: 0 36px 0 26px;
  /* margin: 28px 0 0 0; */
  /* border: solid 2px rgba(255, 255, 255, 0.8); */
  background-color: #f2f2f2;
}

.short {
  width: 689px;
  margin-left: auto;
  margin-right: 28px;
}

.long {
  width: 783px;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.modal-search__input {
  border: 0px;
  padding: 0 20px 0 10px;
  width: 620px;
  background-color: #f2f2f2;
  color: #a4a4a4;
  font-size: 16px;
}

.modal-search__button {
  border: 0px;
  padding: 0px;
  margin-left: auto;
  background-color: #f2f2f2;
}

.modal-search__icon {
  border: 0px;
  padding: 0px;
  margin: 0px;
  width: 28px;
  height: 28px;
}
