.mypage-rented__book {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 30rem;
}

.mypage-rented__book-wrapper {
  display: flex;
}

.mypage-rented__book-image {
  height: 28rem;
  max-width: 20rem;
}

.mypage-rented__book-info {
  width: 17.5rem;
  margin-left: 3rem;
}

.mypage-rented__book-info-titleBox {
  margin-bottom: 1rem;
  border-bottom: 1px solid;
  padding-bottom: 1rem;
  white-space: normal;
}

.mypage-rented__book-info-title {
  margin-bottom: 1rem;
}

.mypage-rented__book-info-rent {
  display: grid;
  grid-template-columns: 50% 50%;
  white-space: normal;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid;
  row-gap: 1rem;
}

.mypage-rented__book-info-reserve {
  display: grid;
  grid-template-columns: 50% 50%;
}
