.mypage-rented__book {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 30rem;
}

.mypage-rented__book-wrapper {
  display: flex;
}

.mypage-rented__book-image {
  height: 28rem;
  max-width: 20rem;
}

.mypage-rented__book-info {
  position: relative;
  width: 17.5rem;
  margin-left: 3rem;
}

.mypage-rented__book-info-titleBox {
  margin-bottom: 1rem;
  border-bottom: 1px solid;
  padding-bottom: 1rem;
  white-space: normal;
}

.mypage-rented__book-info-title {
  margin-bottom: 1rem;
}

.mypage-rented__book-info-rent {
  display: grid;
  grid-template-columns: 50% 50%;
  white-space: normal;
  padding-bottom: 1rem;
  row-gap: 1rem;
}

.mypage-rented__book-info-reserve {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 1rem;
  border-top: 1px solid;
}

.mypage-rented__book-cancel_reserve {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  background: none;
}

.mypage-rented__book-cancel_reserve:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media screen and (max-width: 950px) {
  .mypage-rented__book {
    justify-content: space-evenly;
  }
  .mypage-rented__book-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .mypage-rented__book-info {
    width: 28rem;
    margin-left: 0rem;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .mypage-rented__book {
    flex-direction: column;
    row-gap: 5rem;
  }
}

@media screen and (max-width: 350px) {
  .mypage-rented__book-info {
    width: 100%;
  }
}
