.qna {
  display: flex;
  flex-direction: column;
  padding: 0 18.8vw 0 39.6vw;
}

.qna__question {
  display: flex;
  align-items: center;
  padding: 0 0 0 0;
  border: 0;
  background: none;
}

.question__icon {
  width: 20px;
  height: 20px;
  margin: 0 52px 0 0;
}

.question__text {
  margin: 0 0 0 0;
  font-family: NotoSansCJKKR;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #545454;
}

.qna__answer {
  /* width: 674px; */
  border-left: 1px solid #a4a4a4;
  margin: 44px 0 0 72px;
  padding: 0 25px 0 25px;
  font-family: NotoSansCJKKR;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a4a4a4;
}

.qna__line {
  height: 1px;
  background-color: #a4a4a4;
  margin: 44px 0 44px 0;
  padding: 0;
  border: 0;
}
