.qna {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 0;
}

.qna::after {
  content: " ";
  left: 0;
  right: 0;
  height: 0.1rem;
  background-color: #a4a4a4;
}

.qna__question {
  all: unset;
  display: flex;
  align-items: center;
  padding: 4.4rem 0.5rem 4.4rem 0;
  border: 0;
  background: none;
  white-space: normal;
  text-align: left;
  cursor: pointer;
}

.question__icon {
  width: 2rem;
  height: 2rem;
  margin: 0 5.2rem 0 0;
}

.qna__answer {
  border-left: 0.1rem solid #a4a4a4;
  margin: 0 0 4.4rem 7.2rem;
  padding: 0 1rem 0 2.5rem;
  white-space: normal;
}

.display-none {
  display: none;
}

.url_text {
  text-decoration: underline; 
}

@media screen and (max-width: 1199px) {
  .qna__question {
    padding: 3.5rem 0.5rem 3.3rem 0 ;
  }

  .question__text {
    font-size: 1.8rem !important;
  }

  .question__icon {
    width: 16px;
    height: 16px;
    margin: 0 3.5rem 0 0;
  }

  .qna__answer {
    font-size: 1.5rem !important;
    margin: 0 0 3.3rem 5.2rem;
  }

  .qna::after {
    margin-top: 0.2rem;
  }
}

@media screen and (max-width: 767px) {
  .qna__question {
    padding: 2.7rem 0.5rem 2rem 0 ;
  }

  .question__text {
    font-size: 1.6rem !important;
  }

  .qna__answer {
    border-left: 0;
    font-size: 1.4rem !important;
    margin: 0 0 2rem 4rem;
    padding: 0 1rem 0 0;
  }

  .question__icon {
    width: 1.4rem;
    height: 1.4rem;
    margin: 0 2.5rem 0 0;
  }

  .qna::after {
    margin-top: 0.7rem;
  }
}
