.qna {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 0;
}

.qna__question {
  all: unset;
  display: flex;
  align-items: center;
  padding: 0 0.5rem 0 0;
  border: 0;
  background: none;
  white-space: normal;
  text-align: left;
  cursor: pointer;
}

.question__icon {
  width: 20px;
  height: 20px;
  margin: 0 52px 0 0;
}

.qna__answer {
  border-left: 1px solid #a4a4a4;
  margin: 44px 0 0 72px;
  padding: 0 1rem 0 25px;
  white-space: normal;
}

.display-none {
  display: none;
}

.qna__line {
  height: 1px;
  background-color: #a4a4a4;
  margin: 44px 0 44px 0;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 1199px) {
  .question__text {
    font-size: 2.4rem !important;
  }

  .question__icon {
	width: 16px;
	height: 16px;
	margin: 0 35px 0 0;
  }

  .qna__answer {
	font-size: 1.6rem !important;
	margin: 33px 0 0 52px;
  }

  .qna__line {
	margin: 3.5rem 0 3.5rem 0;
  }
}

@media screen and (max-width: 767px) {
  .question__text {
    font-size: 1.8rem !important;
  }

  .qna__answer {
	border-left: 0;
    font-size: 1.4rem !important;
	margin: 20px 0 0 40px;
	padding: 0 1rem 0 0;
  }

  .question__icon {
	width: 14px;
	height: 14px;
	margin: 0 25px 0 0;
  }

  .qna__line {
	margin: 2.7rem 0 2.7rem 0;
  }
}
