
.rent-modal__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rent-modal__container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 67.6rem;
  width: 120rem;
  background: #ffffff;
  z-index: 3;
}


.rent-modal__books {
  height: 38rem;
  margin-bottom: 3.5rem;
  overflow: auto;

  
}

.rent-modal__book-info {
  display: flex;
  margin-right: 2rem;
  margin-left: 2rem;
}

.second-book {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top:0.1rem solid #d4d4d4;
}

.rent-modal__detail {
  width: 100%;
  overflow: hidden;
}
.rent-modal__cover {
  margin-right: 3.8rem;
  flex-shrink: 0;
}

.rent-modal__cover-img {
  width: 20.5rem;
  height: 30rem;
  display: block;
  margin: auto;
}

.rent-modal__user {
  padding-bottom: 2rem;
  border-bottom:0.1rem solid #a4a4a4;
  margin-bottom: 3.5rem;
}

.rent-modal__user__id {
  margin-right: 3.5rem;
}

.rent-modal__remark {
  width: 100%;
}

.rent-modal__button {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.rent-modal__error {
  margin-left: 1rem;
}

@media screen and (max-width:767px) {
  .rent__modal__container {
    width:100%;
    max-width: 30rem;
  }
  .rent-modal__book-info {
    /* display: block; */
  }

  .rent-modal__cover {
    margin-right: 2rem;
  }
  .rent-modal__cover-img {
    width:10rem;
    height:15rem;

  }
  .modal__button {
    padding: 0.7rem 2rem;
    font-size: 1.8rem !important;
    margin-right: 1.5rem;
  }
}