@import url(./MidModal.css);

.modal-book__search-bar {
  display: flex;
  align-items: center;
  margin: 28px 0 49px 0;
}

.modal-book__text {
  margin-right: 60px;
}

.modal-book__pagination {
  margin-top: auto;
}

@media screen and (max-width: 767px) {
  .modal-book__text {
    margin-right: 3rem;
  }
}