.rent-title {
  position: relative;
  padding: 89px 270px 60px 270px;
  min-width: 900px;
  height: 107px;
  z-index: 2;
}

.rent-subtitle {
  min-width: 900px;
  padding: 118px 270px 120px 270px;
  margin: auto;
}

.inquire-box-wrapper {
  min-width: 1440px;
  /* padding: 0 270px 0 270px; */
  margin: auto;
  align-items: center;
  margin-bottom: 60px;
}
