@import url(./MidModal.css);

.rent-modal__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rent-modal__container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 676px;
  width: 1200px;
  background: #ffffff;
  z-index: 3;
}

.rent-modal__books {
  height: 380px;
  margin-bottom: 35px;
  overflow: auto;

  
}

.rent-modal__book-info {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
}

.second-book {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #d4d4d4;
}

.rent-modal__detail {
  width: 100%;
  overflow: hidden;
}
.rent-modal__cover {
  margin-right: 38px;
  flex-shrink: 0;
}

.rent-modal__cover-img {
  width: 205px;
  height: 300px;
  display: block;
  margin: auto;
}

.rent-modal__user {
  padding-bottom: 20px;
  border-bottom: 1px solid #a4a4a4;
  margin-bottom: 35px;
}

.rent-modal__user__id {
  margin-right: 35px;
}

.rent-modal__remark {
  width: 100%;
}

.rent-modal__button {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

@media screen and (max-width:767px) {
  .rent__modal__container {
    width:100%;
    max-width: 300px;
  }
  .rent-modal__book-info {
    /* display: block; */
  }

  .rent-modal__cover {
    margin-right: 2rem;
  }
  .rent-modal__cover-img {
    width:100px;
    height:150px;

  }
  .modal__button {
    padding: 0.7rem 2rem;
    font-size: 1.8rem !important;
    margin-right: 1.5rem;
  }
}