.rent__confirm-button {
  width: 100%;
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 30rem;
}

.rent__confirm-button__text {
  margin-bottom: 2.4rem;
  white-space: normal;
  padding: 0 5rem;
  word-break:keep-all;
}

.rent__confirm-button__button {
  margin: 0;
  border: 0;
  padding: 0;
  width: 21.2rem;
  height: 4.8rem;
  background: none;
  border-radius: 2.4rem;
}

.black-button {
  background-color: #a4a4a4;
}

.red-button {
  background-color: #e63737;
  cursor: pointer;
}
