.rent__inquire-box-user {
  width: 120rem;
  min-width: 36rem;
  background-color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  z-index: 0;
  top: -5rem;
  border-bottom-left-radius: 6.1rem;
  border-bottom-right-radius: 6.1rem;
  padding-top: 5rem;
}

.rent__inquire-box-user-active {
  width: 108rem;
  margin-left: auto;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.rent__inquire-box-user__add-button {
  height: 10rem;
  width: 100%;
  border: 0;
  margin: 0;
  background: none;
  font-size: 2.8rem;
  text-decoration: none;
  cursor: pointer;
}

.rent__inquire-box-user__undo-button {
  all: unset;
  margin: 0 7.5rem 0 auto;
  cursor: pointer;
}

.rent__inquire-box-user__id-undo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 0 4rem 0;
  border-bottom: 0.1rem solid #a4a4a4;
  font-size: 2.8rem;
  font-weight: bold;
}

.rent__inquire-box-user__id-undo > div:nth-child(1) {
  overflow: hidden;
}

.rent__inquire-box-user__id-undo > div:nth-child(1) > span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rent__inquire-box-user__id {
  margin-right: 2rem;
}

.rent__inquire-box-user__lendings {
  display: flex;
  padding: 2rem 0 2rem 0;
  border-bottom: 0.1rem solid #a4a4a4;
}

.rent__inquire-box-user__reservations {
  display: flex;
  padding: 2rem 0 4rem 0;
}

.user__book-cnt {
  width: 17.6rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.user__book-info__total {
  flex-grow: 1;
}

.user__book-info {
  margin-bottom: 2rem;
  padding: 0 3rem 1.4rem 0;
  border-bottom: 0.1rem solid #a4a4a4;
}

.user__book-info:last-child {
  margin: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.user__book-info__title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.8rem;
  font-weight: bold;
}

/* .user__reservations-info {
  margin-left: 28rem;
} */

.user__book-info__description {
  font-size: 1.6rem;
}

@media screen and (max-width: 1200px) {
  .rent__inquire-box-user {
    width: 100%;
    top: -3rem;
    padding-top: 3rem;
  }

  .rent__inquire-box-user-active {
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .rent__inquire-box-user__id-undo {
    font-size: 2.6rem;
    padding: 2rem 0 3.5rem 0;
  }

  .rent__inquire-box-user__undo-button img {
    width: 1.8rem;
    height: 1.8rem;
  }

  .rent__inquire-box-user__undo-button {
    margin: 0 4.5rem 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .rent__inquire-box-user__lendings {
    display: block;
  }

  .rent__inquire-box-user__reservations {
    display: block;
  }

  .user__book-cnt {
    margin-bottom: 1.5rem;
    width: unset;
    font-size: 1.6rem;
  }

  .user__book-info__title {
    font-size: 1.6rem;
  }

  .rent__inquire-box-user__add-button {
    height: 8rem;
  }

  .rent__inquire-box-user-active {
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .rent__inquire-box-user__id-undo {
    font-size: 2.2rem;
    padding: 1rem 0 2.5rem 0;
  }

  .rent__inquire-box-user__undo-button img {
    width: 1.4rem;
    height: 1.4rem;
  }

  .user__book-info__description {
    font-size: 1.4rem;
  }

  .user__book-info {
    border-bottom: none;
    padding: 0 3rem 0 0;
  }

  .rent__inquire-box-user__undo-button {
    margin: 0 2.5rem 0 auto;
  }
}
