.rent__user-list {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  padding: 2.1rem 0 2.1rem 0;
  margin: 0 auto 0 auto;
  border-bottom: 0.1rem solid #a4a4a4;
  cursor: pointer;
  background: none;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.rent__user-list.disabled {
  cursor: unset;
}

.rent__user-list:hover {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
}

.rent__user-list__name {
  width: 30rem;
  display: flex;
}

.rent__user-list__lent-cnt {
  line-height: 2.4rem;
}

.rent__user-list__penalty {
  margin-left: 1rem;
  line-height: 2.4rem;
}

.rent__user-list__penalty.available {
  color: #00a000;
  font-weight: bold;
}

.rent__user-list__arrow {
  width: 0.8rem;
  height: 1.6rem;
  margin-top: 0.4rem;
  margin: 0.4rem 0 0 auto;
}

.rent__text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .rent__user-list__name {
    width: 16.1rem;
  }
}
