.rent__modal-user {
  min-width: 30rem;
  padding: 0rem 6rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.rent__modal-user__search-bar {
  display: flex;
  align-items: center;
  margin: 2.8rem 0 4.9rem 0;
}

.rent__modal-user__text {
  margin-right: 6rem;
}

.rent__modal-user__pagination {
  margin-top: 5rem;
}

@media screen and (max-width: 767px) {
  .rent__modal-user__text {
    margin-right: 3rem;
  }
}
