.rent-modal {
  padding: 0 6rem;
  min-width: 36rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.rent-modal__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.8rem 0;
}

.rent-modal__container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 67.6rem;
  width: 120rem;
  background: #ffffff;
  z-index: 3;
}

.rent-modal__books {
  height: 50rem;
  margin-bottom: 3.5rem;
  overflow: auto;
}

.rent-modal__book-info {
  margin-right: 2rem;
  margin-left: 2rem;
}

.rent-modal__detail {
  width: 100%;
  overflow: hidden;
}
.rent-modal__cover {
  margin-right: 3.8rem;
  flex-shrink: 0;
}

.rent-modal__cover-img {
  width: 20.5rem;
  height: 30rem;
  display: block;
  margin: auto;
}

.rent-modal__user {
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid #a4a4a4;
  margin-bottom: 3.5rem;
}

.rent-modal__user__detail {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;
}

.rent-modal__user__id {
  margin: 0.8rem 3.5rem 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rent-modal__remark {
  width: 100%;
  margin: 3rem 0;
}

.rent-modal__buttons {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8rem;
  cursor: pointer;
}
.rent-modal__cancel {
  margin-left: 2.4rem;
}

@media screen and (max-width: 767px) {
  .rent-modal__cancel {
    margin-right: 1.5rem;
  }
}
