.reserved-loan__table-list {
  display: flex;
  margin-left: 6rem;
  margin-right: 3rem;
  padding-top: 4rem;
}

.reserved-loan__table-list__button {
  width: 100%;
  background: none;
  margin: 0;
  border: 0;
  padding: 0;
  text-align: left;
  border-bottom: 0.1rem solid #a4a4a4;
  padding-bottom: 4rem;
  cursor: pointer;
}

.reserved-loan__table-list__title {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reserved-loan__table-list__arr {
  width: 0.8rem;
  height: 1.6rem;
  margin-right: 4rem;
  margin-left: auto;
}

.reserved-loan__table-list__name {
  width: 12.1rem;
  padding-right: 4rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.reserved-loan__table-list__info {
  margin-right: 6rem;
}

.reserved-loan__table-list__call-sign {
  margin-right: 2.8rem;
}

/* @media screen and (max-width: 1200px) {
  .reserved-loan__table-list {
    width: 90%;
  }
} */

@media screen and (max-width: 767px) {
  .reserved-loan__table-list {
    display: block;
  }

  .reserved-loan__table-list__name {
    margin-bottom: 1.1rem;
  }
  .reserved-loan__table-list__text {
    padding-right: 2rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 480px) {
  .reserved-loan__table-list__info > span {
    display: block;
    font-size: 1.4rem;
  }
}
