.reserved-loan-body {
  min-width: 360px;
}

.reserved-loan-main {
  margin: 0 auto;
}
.reserved-loan-title {
  position: relative;
  padding: 8.9rem 0 6rem;
  min-width: 90rem;
  height: 10.7rem;
  z-index: 2;
}
.reserved-loan-subtitle {
  min-width: 90rem;
  padding: 11.8rem 0 12rem;
  margin: auto;
}

.reserved-loan-table__inquire-box {
  max-width: 120rem;
  min-width: 30rem;
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  z-index: 0;
  top: -12rem;
  border-bottom-left-radius: 6.1rem;
  border-bottom-right-radius: 6.1rem;
  padding: 9rem 0 5.1rem 0;
}

.reserved-loan-table__pagination {
  margin-top: 3.6rem;
}

.inquire-box-title__kr {
  font-size: 2.2rem;
}

.inquire-box-title__en {
  font-size: 1.4rem;
}

@media screen and (max-width: 1200px) {
  .reserved-loan-table__inquire-box {
    width: 100%;
    top: -11rem;
  }
}

@media screen and (max-width: 767px) {
  .inquire-box-title {
    min-width: unset;
    max-width: unset;
  }
  .reserved-loan-table__inquire-box {
    padding-top: 3rem;
    top: -9rem;
  }
}
