.reservation__button {
  all: unset;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #e63737;
}
.reservation__rentable {
  margin-top: 1rem;
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .reservation__button {
    font-size: 1.6rem;
  }

  .reservation__rentable {
    font-size: 1.6rem;
  }
}
