.reservedLoan-main {
  min-width: 1440px;
  margin: 0px auto;
}
.reservedLoan-title {
  position: relative;
  padding: 89px 270px 60px 270px;
  min-width: 900px;
  height: 107px;
  z-index: 2;
}
.reservedLoan-subtitle {
  min-width: 900px;
  padding: 118px 270px 120px 270px;
  margin: auto;
}

.inquire-box-reservedLoan-table {
  width: 1200px;
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  margin: auto;
  position: relative;
  z-index: 0;
  top: -120px;
  border-bottom-left-radius: 61px;
  border-bottom-right-radius: 61px;
  padding: 90px 0 51px 0;
}

.reservedLoan-table__pagination {
  margin-top: 36px;
  /* height: 150px; */
}

.reservedLoan-table-list {
  display: flex;
  width: 1080px;
  margin-left: auto;
  padding-top: 40px;
  /* margin-top: 20px; */
}

.reservedLoan-table-list__button {
  width: 919px;
  background: none;
  margin: 0;
  border: 0;
  padding: 0;
  text-align: left;
  border-bottom: 1px solid #a4a4a4;
  padding-bottom: 40px;
  cursor: pointer;
}

.reservedLoan-table-list__title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /* flex-shrink: auto; */
}

.reservedLoan-table-list__arr {
  width: 8px;
  height: 16px;
  margin-right: 68px;
  margin-left: auto;
}

.reservedLoan-table-list__name {
  width: 161px;
}

.reservedLoan-table-list__info {
}
.re-callSign {
  margin-right: 28px;
}
