.showReview__review-box {
  display: flex;
  min-height: 10rem;
  position: relative;
  border-radius: 2rem;
  background-color: #e8e8e8;
  padding: 2rem 4rem;
}

.do-review__review-box {
  display: block;
  height: 25rem;
  position: relative;
  margin: 2rem 0;
  border-radius: 2rem;
  background-color: #e8e8e8;
  padding: 5rem;
}

.do-review__review-form {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}

.review-area {
  width: 100%;
  min-height: 85%;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  resize: none;
  background-color: white;
}

.do-review__review-buttons {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.review-info {
  width: 15%;
  padding-right: 2.5rem;
  position: relative;
}

.review-info:after {
  content: " ";
  background-color: #a4a4a4;
  position: absolute;
  right: 0;
  top: 0;
  width: 0.1rem;
  height: 3rem;
}

.review-info > span {
  display: block;
}

.review-content {
  width: 70%;
  white-space: break-spaces;
  padding: 0rem 3.5rem 0rem 3.5rem;
}

.review-content-book-title {
  margin-bottom: 1rem;
}

.review-content-fix-area {
  width: 90%;
  min-height: 7rem;
  padding: 1rem;
  border: none;
  resize: none;
  border-radius: 0.5rem;
  background-color: white;
}

.review-content-area {
  width: 90%;
  min-height: 7rem;
  border: none;
  border-radius: 0.5rem;
  resize: none;
}

.review-manage:before {
  content: " ";
  background-color: #a4a4a4;
  position: absolute;
  left: 0;
  width: 0.1rem;
  height: 3rem;
}

.review-manage {
  width: 15%;
  padding-left: 5rem;
  position: relative;
}

.review-manage__fix-buttons > button {
  /* display: block;
  margin-bottom: 1rem; */
  color: red;
  all: unset;
  cursor: pointer;
  width: 7rem;
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 0;
}

.fix-text {
  color: red;
  font-weight: bold;
}

.review-manage__start-fix-buttons button {
  all: unset;
  cursor: pointer;
  width: 7rem;
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 0;
}

.review-manage__button-img {
    margin: 0 0 -0.15rem -3rem;
    width: 1.1rem;
}

@media screen and (max-width: 767px) {
  .showReview__review-box {
    display: block;
    padding: 2rem 0rem;
  }

  .review-info:after {
    display: none;
  }

  .review-manage:before {
    display: none;
  }

  .review-info {
    float:left;
    padding: 0;
    position: relative;
  }

  .review-content {
    width: 80%;
    padding-left: 8rem;
    margin-bottom: 1rem;
    position: relative;
  }

  .review-manage {
    float: right;
    width: 100%;
  }

  .review-content-area {
    min-height: 5rem;
  }

  .review-manage__button-img {
    margin: 0 0 -0.15rem -3rem;
  }

  .review-manage__start-fix-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .review-manage__fix-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
