.review-box {
	display: flex;
	position: relative;
  margin: 2rem 0;
  border-radius: 2rem;
  /* background-color: #888; */
  background-color: #e8e8e8;
  padding: 4rem 6rem;
}

.review-info {
  width: 15%;
  float: left;
	padding-right: 2rem;
	border-right: 1px solid #a4a4a4;
}

.review-info > span {
  display: block;
}

.review-content {
  width: 70%;
	white-space: break-spaces;
	padding: 0rem 4rem 0rem 5rem;
}

.review-manage {
	width: 15%;
	border-left: 1px solid #a4a4a4;
	padding-left: 3rem;
}