.search-bg {
  background-image: url("../img/search_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 1320px;
  width: 100%;
  height: 704px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  /* object-fit: contain; */
}

.search-section {
  width: 1200px;
}

.search-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0 120px 0;
  width: 1200px;
  z-index: 2;
}

.search-subtitle {
  width: 400px;
  padding: 100px 0 148px 0;
}
