.wish-book-wraper {
  min-width: 36rem;
  padding: 0 15rem 0 15rem;
  height: 88.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-section {
  padding: 0 15rem 0 15rem;
  max-width: 120rem;
  margin: auto;
}

.search-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 109px 150px 120px 150px;
  min-width: 900px;
  z-index: 2;
  height: 231px;
}

.search-subtitle {
  width: 100%;
  padding: 100px 0 0 0;
}

.search-sort-available {
  display: flex;
  margin-bottom: 80px;
  align-items: center;
}

@media screen and (min-width:768px) and (max-width: 1200px) {

  .search-section {
    padding: 0 7.5rem 0 7.5rem;
  }

}

@media screen and (max-width:767px) {

  .search-section {
    min-width: 32rem;
    padding: 0 1.5rem 0 1.5rem;
  }

  .subtitle__title {
    font-size: 3.2rem;
  }

  .wish-book-wraper {
    padding: 0;
    height: 65rem;
  }

}

