.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__korean {
  /* width: 177px;
	height: 71px; */
  margin: 0 0 0 0;
  /* font-family: NotoSansCJKkr; */
  /* font-size: 2.3vmax; */
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  word-break: keep-all;
  white-space: nowrap;
}

.title__eng {
  /* width: 106px;
	height: 24px; */
  margin: 12px 0 0 0;
  /* font-family: NotoSansCJKkr; */
  /* font-size: 0.9vmax; */
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #d5d5d5;
  word-break: keep-all;
  white-space: nowrap;
}
