.wish-book {
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wish-book__icon {
  width: 4.8rem;
  height: 4.8rem;
}

.wish-book__title {
  margin-top: 4.4rem;
}

.wish-book__subtitle {
  margin-top: 1.6rem;
  margin-bottom: 4.8rem;
}

.wish-book__button {
  margin: 0;
  border: 0;
  width: 30rem;
  height: 4.8rem;
  padding: 0.9rem 3.6rem 1rem;
  border-radius: 2.4rem;
  background-color: #545454;
  box-sizing: border-box;
}

.e-book_library__button {
  margin-top: 3rem;
  border: 0;
  width: 30rem;
  height: 4.8rem;
  padding: 0.9rem 3.6rem 1rem;
  border-radius: 2.4rem;
  background-color: #545454;
  box-sizing: border-box;
}

@media screen and (max-width:767px) {
  .wish-book__title {
    font-size: 2.7rem !important;
  }
}
