.book-detail-body {
  max-width: 100rem;
  position: relative;
  margin: auto;
  margin-top: 7rem;
  margin-bottom: 10rem;
  min-height: 20rem;
}

.book-detail__reservation-button {
  display: flex;
  margin-bottom: 2.4rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book-detail__reservation-button img {
  height: 1.3rem;
  margin: 0 1rem 0 1rem;
}

.breadcrumb {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
}

.book-content {
  display: flex;
  width: 100%;
  margin: 6rem 0;
}

.book-detail__photo-likes {
  margin: 0 4.8rem 0 0;
}

.book-detail__photo {
  margin: 0 0rem 1rem 0;
}

/* .book-detail__photo img {
  width: 34.8rem;
  height: 51.1rem;
} */

.book-detail__photo > .book-photo__container {
  width: 34.8rem;
  height: 51.1rem;
}

.book-detail {
  width: 70%;
  overflow: hidden;
}

.book-detail > span:first-child {
  font-size: 1.6rem;
  font-weight: 400;
}

.book-detail__title {
  width: auto;
  font-size: 2.8rem;
  font-weight: bold;
  word-wrap: break-all;
  white-space: normal;
  padding-right: 2rem;
}

.book-detail__info {
  border-style: solid;
  border-color: #a4a4a4 !important;
  border-top: solid 0.1rem;
  border-bottom: solid 0.1rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

.book-detail__info-wrapper {
  display: flex;
  margin-bottom: 1.5rem;
}

.book-detail__info-key {
  font-size: 1.8rem;
  font-weight: bold;
  width: 12rem;
  flex-shrink: 0;
}

.book-detail__info-value {
  font-size: 1.8rem;
  font-weight: normal;
  width: 40rem;
  word-break: break-all;
  white-space: normal;
  flex-shrink: 0;
}

.book-state {
  margin-top: 2rem;
}

.book-state__list {
  margin-top: 2rem;
}

.book-detail__info-status {
  font-size: 1.8rem;
  font-weight: bold;
}

.like_button_box {
}

.like_button {
  background: none;
  padding: 1rem;
  border: 0;
  cursor: pointer;
  font-size: 1.6rem;
  border: solid 0.1rem #c0bebe;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
}

.like_button:disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.like__icon {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.book-detail_buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.location_button_box {
}

.location_button {
  background: none;
  padding: 1rem;
  border: 0;
  cursor: pointer;
  font-size: 1.6rem;
  border: solid 0.1rem #c0bebe;
  border-radius: 1.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .book-detail {
    width: 55%;
  }

  /* .book-detail__photo img {
    width: 32rem;
    height: 47rem;
  } */

  .book-detail__photo > .book-photo__container {
    width: 32rem;
    height: 47rem;
  }

  .book-detail__photo {
    margin: 0 0 1rem 0;
  }

  .book-detail__info-value {
    width: 30rem;
    font-size: 1.6rem;
  }

  .book-detail__info-key {
    width: 10rem;
    font-size: 1.6rem;
  }

  .book-detail__title {
    font-size: 2.4rem;
  }

  .book-detail__info-status {
    font-size: 1.6rem;
  }

  .book-content {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 767px) {
  .book-detail-body {
    padding: 0;
    width: 100%;
    min-width: 36rem;
    position: relative;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .breadcrumb span {
    font-size: 2rem;
    margin-right: 0;
  }

  .book-content {
    display: block;
    margin-top: 3rem;
  }

  .book-detail__photo-likes {
    margin: 0;
  }

  .book-detail__photo {
    margin: 0 auto 1rem auto !important;
    width: 80%;
    height: 25%;
  }

  /* .book-detail__photo img {
    width: 100%;
    height: 100%;
  } */

  .book-detail__photo > .book-photo__container {
    width: 100%;
    height: 100%;
  }

  .book-detail {
    margin: 0 auto;
    width: 90%;
  }

  .book-detail__info span {
    font-size: 2rem;
  }

  .book-detail__title {
    font-size: 3rem;
    height: auto;
  }

  .book-detail__info {
    height: auto;
    padding: 1.5rem 0 2rem 0;
  }

  .book-detail__info > div:first-child {
    width: 25%;
  }

  .book-detail__info > div:nth-child(2) {
    width: 75%;
  }

  .book-detail__info-value {
    margin-left: 2.5rem;
  }

  .detail-info span {
    padding: 2rem 0;
  }

  .book-state__list > div {
    width: 100%;
  }

  .book-state > span {
    font-size: 2rem;
  }
}
