.search-preview__wrapper {
  position: relative;
  background-color: white;
  z-index: 2;
  display: block;
}

.search-preview__wrapper.loading {
  background-color: rgba(200, 200, 200, 0.8);
}

.search-preview__loader {
  position: absolute !important;
  top: 40%;
  left: 50%;
}

.search-preview__list {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.search-preview__books {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.search-preview__book {
  text-align: left;
  font-size: 1.4rem;
  height: 6rem;
  cursor: pointer;
  margin: 0;
  padding: 0 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: solid 1px gray;
  padding: 1rem;
  box-sizing: border-box;
}

.search-preview__book.selected {
  background-color: rgba(200, 200, 200, 0.6);
}

.search-preview__book__title {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
  text-overflow: ellipsis;
  box-sizing: border-box;
  flex: 0 1 auto;
}

.search-preview__book__author:after {
  content: "|";
  margin: 0 1rem;
}

.search-preview__image {
  flex-shrink: 0;
}

.search-preview__pagination.pagination {
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
  padding: 0;
}
.search-preview__pagination.pagination > span {
  font-size: 1.4rem;
  margin-top: 0.4rem;
}

.search-preview__pagination.pagination > span:before {
  content: "0";
}

.search-preview__page {
  font-weight: bold;
}
.search-preview__last-page {
  color: #5d5d5d;
}

.search-preview__page:after {
  content: "|";
  margin: 0 1rem;
  font-weight: normal;
}

.search-preview__more {
  padding: 1rem;
  display: block;
  text-align: center;
  font-size: 1.4rem;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .search-preview__book {
    font-size: 1.2rem;
  }
  .search-preview__book__title {
    font-size: 1.4rem;
  }
}
