.recent-keyword__wrapper {
  padding: 0.8rem 0.4rem;
  display: flex;
}

.recent-keyword__wrapper > h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: 2rem;
  flex-shrink: 0;
  margin: 1.6rem 1.2rem;
}

.recent-keyword__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.4rem;
  gap: 0.8rem;
}

.recent-keyword__keyword {
  position: relative;
}

.recent-keyword__keyword > a {
  display: inline-block;
  padding: 0.8rem 3.2rem 0.8rem 1.6rem;
  border-radius: 1.6rem;
  background: #d9d9d9;
}

.recent-keyword__remove {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;
}
.recent-keyword__remove > img {
  width: 1rem;
  height: 1rem;
}
.recent-keyword__remove:hover:after {
  content: "   ";
  width: 20px;
  height: 20px;
  background: #d9d9d9;
}
.recet-keyword__no-record {
  margin: 0.8rem;
}
