.book-location__container {
  position: relative;
  border: 1px solid #c0bebe;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 34.8rem;
  height: 51.1rem;
}

.book-location__shelves {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
  overflow-x: auto;
  overflow-y: hidden;
  height: 90%;
  padding: 3rem;
}

.shelf_active {
  background-color: #5f3f36;
}

.book-location__shelves > div {
  min-width: 20rem;
  border: 1px solid #c0c0c0;
  margin-left: 1rem;
  display: flex;
  font-weight: bold;
}

.book-shelf__big {
  height: 90%;
}

.book-shelf__small {
  height: 40%;
}

.book-location__map {
}

@media screen and (max-width: 767px) {
  .book-location__container {
    width: 100%;
  }
}
