.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 6;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  min-width: 30rem;
  position: absolute;
  align-self: center;
  background-color: #ffffff;
  max-height: 100%;
  overflow: scroll;
}

.modal__container.full {
  width: 120rem;
}
.modal__container.basic {
  width: 70rem;
}

@media screen and (max-width: 1200px) {
  .modal__container.full {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .modal__container {
    width: 100% !important;
    overflow-y: scroll;
  }
}
