.rent__modal-user {
  min-width: 30rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.rent__modal-user > .padding {
  padding: 0 6rem;
}

.rent__modal-user__search-bar {
  display: flex;
  align-items: center;
  margin: 2.8rem 0 4.9rem 0;
}

.rent__modal-user__title > p {
  white-space: nowrap;
  margin-right: 3rem;
}

.rent__modal-user__pagination {
  margin-top: 5rem;
}

@media screen and (max-width: 767px) {
  .rent__modal-user__title > p {
    margin-right: 2rem;
  }
  .rent__modal-user__search-bar {
    margin: 2rem 0 2rem 0;
  }

  .rent__modal-user > .padding {
    padding: 0 3rem;
  }

  .rent__modal-user__pagination {
    margin-top: 4rem;
  }
}
