.rent__inquire-box-book {
  width: 120rem;
  min-width: 36rem;
  background-color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  z-index: 0;
}

.rent__inquire-box-book-active {
  width: 108rem;
  margin-left: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.none {
  top: -5rem;
  padding: 5rem 0 5rem 0;
  margin-bottom: -7.4rem;
}

.two {
  border-bottom-left-radius: 6.1rem;
  border-bottom-right-radius: 6.1rem;
  padding: 6rem 0 0 0;
  top: -6rem;
}

.four {
  border-radius: 6.1rem;
  padding: 0;
  top: -2rem;
}

.rent__inquire-box-book__add-button {
  height: 10rem;
  width: 100%;
  border: 0;
  margin: 0;
  background: none;
  font-size: 2.8rem;
  text-decoration: none;
  cursor: pointer;
}

.rent__inquire-box-book__undo-button {
  border: 0;
  margin: 0 7rem 0 auto;
  padding-left: 1rem;
  background: none;
  cursor: pointer;
}

.rent__inquire-box-book__id-undo {
  display: flex;
  padding: 3rem 0 4.1rem 0;
  align-items: center;
  border-bottom: 0.1rem solid #a4a4a4;
  justify-content: center;
}

.rent__inquire-box-book__id {
  word-wrap: normal;
  overflow: hidden;
  word-break: keep-all;
  white-space: normal;
  font-size: 2.8rem;
  font-weight: bold;
}

.rent__inquire-box-book__info {
  display: flex;
  /* flex-wrap: wrap; */
  padding: 2rem 0 4rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rent__inquire-box-user__role {
  align-items: center;
  justify-content: center;
  border: 0.3rem solid #545454;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  background-color: #545454;
  margin-right: 0.6rem;
}

.book__info__factor {
  margin-right: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book__info__factor .font-18-bold {
  overflow: normal;
}

.book__info__factor-key {
  margin-right: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.book__info__factor-value {
  font-size: 1.8rem;
}

@media screen and (max-width: 1200px) {
  .rent__inquire-box-book {
    width: 100%;
  }

  .none {
    top: -3rem;
    padding: 3rem 0 3rem 0;
  }

  .two {
    padding: 3rem 0 0 0;
    top: -3rem;
  }

  .four {
    top: 0rem;
  }

  .rent__inquire-box-book-active {
    width: 90%;
  }

  .rent__inquire-box-book__id {
    font-size: 2.4rem;
  }

  .rent__inquire-box-book__id-undo {
    padding: 1.5rem 0 3rem 0;
  }

  .rent__inquire-box-book__info {
    padding: 1.5rem 0 3rem 0;
  }

  .rent__inquire-box-book__undo-button {
    margin: 0 4.5rem 0 auto;
  }

  .rent__inquire-box-book__undo-button img {
    width: 1.8rem;
    height: 1.8rem;
  }
}

@media screen and (max-width: 767px) {
  .rent__inquire-box-book-active {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }

  .rent__inquire-box-book__id {
    font-size: 2rem;
  }

  .book__info__factor-key {
    width: 5rem;
    font-size: 1.6rem;
  }

  .book__info__factor-value {
    font-size: 1.6rem;
  }

  .rent__inquire-box-book__id-undo {
    padding: 0.5rem 0 2rem 0;
  }

  .rent__inquire-box-book__info {
    display: block;
    padding: 1.5rem 0 2rem 0;
  }

  .rent__inquire-box-book__undo-button {
    margin: 0 2rem 0 auto;
  }

  .rent__inquire-box-book__undo-button img {
    width: 1.4rem;
    height: 1.4rem;
  }

  .rent__inquire-box-book__add-button {
    height: 8rem;
  }
}