.search-bar__dropdown {
  text-align: left;
  background-color: white !important;
  position: absolute;
  top: 6.4rem;
  padding: 1rem;
  white-space: wrap;
  width: calc(100% - 5.4rem);
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .search-bar__dropdown {
    top: 5.5rem;
  }
}

@media screen and (max-width: 767px) {
  .search-bar__dropdown {
    top: 5rem;
  }
}
