.wish-book-wraper {
  min-width: 36rem;
  padding: 0 15rem 0 15rem;
  height: 60rem;
  margin-top: 12rem;
  align-items: center;
  justify-content: center;
}

.search-section {
  padding: 0 15rem 0 15rem;
  max-width: 120rem;
  margin: auto;
  overflow: hidden;
}

.search-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10.9rem 15rem 120rem 150rem;
  min-width: 90rem;
  z-index: 2;
  height: 23.1rem;
}

.search-subtitle {
  width: 100%;
  padding: 10rem 0 0 0;
}

.search-subtitle > * > .subtitle__title {
  word-break: break-all;
}

.search-sort {
  display: flex;
  margin-bottom: 8rem;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .search-section {
    padding: 0 7.5rem 0 7.5rem;
  }
}

@media screen and (max-width: 767px) {
  .search-section {
    min-width: 32rem;
    padding: 0 1.5rem 0 1.5rem;
  }

  .search-sort {
    margin-bottom: 3rem !important;
  }

  .subtitle__title {
    font-size: 3.2rem;
  }

  .wish-book-wraper {
    padding: 0;
    height: 48rem;
  }
}
