.search-bar__wrapper {
  text-align: center;
  height: 6.4rem;
  display: flex;
  border-radius: 6.1rem;
  background-color: #f2f2f2;
  position: relative;
}

.search-bar__wrapper.short {
  width: 100%;
  margin-left: auto;
  margin-right: 2.8rem;
  padding: 0 3.6rem 0 2.6rem;
}

.search-bar__wrapper.long {
  width: 100%;
  padding: 0 3.6rem 0 2.6rem;
}

.search-bar__wrapper.center {
  width: 80%;
  margin: auto;
  /* min-width: 200px; */
  max-width: 790px;
  border: 1px solid #545454;
  padding: 0 3.5rem 0 3.5rem;
}

.search-bar__wrapper.banner {
  width: 70%;
  max-width: 70rem;
  min-width: 28rem;
  border-radius: 3rem;
  padding: 0 3.6rem 0 2.6rem;
  border: solid 0.2rem rgba(255, 255, 255, 0.8);
  background-color: rgb(0, 0, 0, 0.5);
}

.search-bar__wrapper.banner > * {
  background-color: transparent;
}
.search-bar__wrapper > *:focus {
  outline: none;
}

.search-bar__input {
  border: 0;
  padding: 0 2rem 0 1rem;
  width: 100%;
  background-color: #f2f2f2;
  color: #a4a4a4;
  font-size: 1.6rem;
}

.search-bar__button {
  all: unset;
  margin-left: auto;
  width: 2.8rem;
  height: 2.8rem;
  margin: auto;
  cursor: pointer;
}

.search-bar__button.barcode {
  margin-right: 2rem;
}

@media screen and (max-width: 1200px) {
  .search-bar__wrapper {
    height: 5.5rem;
  }

  .search-bar__wrapper.center {
    padding: 0 3rem 0 2.5rem;
  }

  .search-bar__wrapper.short {
    margin-right: 2.4rem;
  }

  .search-bar__input {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 767px) {
  .search-bar__wrapper {
    height: 5rem;
  }

  .search-bar__wrapper.center {
    padding: 0 2rem 0 2rem;
  }

  .search-bar__wrapper.long {
    padding: 0 2.5rem 0 2.2rem;
  }

  .search-bar__wrapper.short {
    margin-right: 1.8rem;
    padding: 0 2.5rem 0 2.2rem;
  }

  .search-bar__input {
    padding: 0 1rem 0 0.5rem;
    text-overflow: ellipsis;
  }

  .search-bar__button {
    width: 1.8rem;
    height: 1.8rem;
  }
}
