.none-drag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button_tag-box-super {
  /* font-family: "Noto Sans KR", sans-serif; */
  /* width: 150px;
  height: 70px; */
  line-height: 40px;
  font-size: large;
  font-weight: bold;
  /* position: absolute; */
  left: 0px;
  text-align: center;
  margin: 10px;
  background-color: rgb(41, 33, 38, 0.75);
  color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  opacity: 1;
  /* will-change: transform; */
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: none;
  border: none;
}

.button_tag-box-sub {
  position: relative;
  line-height: 40px;
  font-size: large;
  font-weight: bold;
  /* position: absolute; */
  left: 0px;
  text-align: center;
  margin: 10px;
  background-color: rgb(115, 103, 87, 0.95);
  background-color: rgb(115, 103, 87, 1);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  opacity: 1;
  /* will-change: transform; */
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: none;
  border: none;
}

.button_tag-box-my-sub {
  position: relative;
  line-height: 40px;
  font-size: large;
  font-weight: bold;
  left: 0px;
  text-align: center;
  margin: 10px;
  background-color: rgb(222, 132, 68);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  opacity: 1;
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: none;
  border: none;
}

.button_tag-create-box {
  position: relative;
  line-height: 40px;
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  background-color: rgb(115, 103, 87, 1);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: none;
  border: none;
}

.button_tag-create-box::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.button_tag-background {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  height: 100%;
  line-height: 70px;
  font-weight: bold;
  left: 0px;
  text-align: center;
  margin: 10px;
  background-color: rgb(232, 232, 232, 0.9);
  color: rgba(235, 11, 11, 0.7);
  border-radius: 10px;
  opacity: 1;
  will-change: transform;
}

.button_tag-modal-background {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  left: 0px;
  margin: 10px;
}

.button_tag {
  overflow-y: auto;
  max-width: 100rem;
  position: relative;
  margin: auto;
  margin-top: 7rem;
  margin-bottom: 10rem;
}

.button_tag-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(00, 00, 00, 0.7);
  z-index: 4;
}

.button_tag-create-button {
  position: absolute;
  right: 10px;
  background-color: rgba(00, 00, 00, 0);
}

.button_tag-remove-button {
  position: absolute;
  right: 10px;
}

.button_tag-remove-tooltip {
  position: absolute;
  right: 10px;
}

.button_mainpage_tag_box {
  overflow-y: auto;
  max-width: 100rem;
  position: relative;
  margin: auto;
  margin-top: 7rem;
  margin-bottom: 10rem;
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(2px, 2px) rotate(1deg);
  }
  50% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  75% {
    transform: translate(2px, 2px) rotate(-1deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

:root {
  --base-color: rgba(255, 255, 255, 0.9);
  --target-color: rgba(119, 32, 16, 0.9);
}

@keyframes colorChange {
  0% {
    color: var(--base-color);
  }
  100% {
    color: var(--target-color);
  }
}

.button_atcive {
  animation: shake 0.1s linear infinite;
}

.button_post_error_code {
  animation: colorChange 0.5s linear 1 forwards;
}

.tooltip-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@keyframes appearChange {
  0% {
    color: rgba(255, 255, 255, 0.1);
  }
  20% {
    color: rgba(255, 255, 255, 0.9);
  }
  90% {
    color: rgba(255, 255, 255, 0.9);
  }
  100% {
    color: rgba(255, 255, 255, 0);
  }
}

.button_post_error_message {
  animation: appearChange 2s linear 1 forwards;
}

@keyframes blink {
  0% {
    border-color: 0;
  }
  20% {
    border-color: transparent;
  }
  80% {
    border-color: transparent;
  }
  100% {
    border-color: 0;
  }
}

.button_create:focus {
  outline: none;
  border: none;
  border-radius: 0;
  border-left: 1px solid white;
  animation: blink 2s linear infinite;
}

.button_create:focus::placeholder {
  animation: none;
}
