.user-detail-info {
  padding: 0 8rem 5rem 8rem;
}

.user-detail-info__detail {
  margin: 2rem 0 0;
}
.user-detail-info__detail > div {
  font-size: 1.8rem;
  font-weight: bold;
  color: #545454;
  margin-bottom: 1.1rem;
}

div.user-detail-info__line {
  height: 0.1rem;
  background-color: #a4a4a4;
  margin: 3rem 0;
}
.user-edit-button {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: flex-end;
}

.user-edit-button > button {
  margin-left: 2rem;
}

@media screen and (max-width: 767px) {
  .user-detail-info {
    padding: 2rem 2rem;
  }
  .user-detail-info__detail {
    margin-bottom: 2rem;
  }
}
